<nav class="navbar-vertical navbar">
    <div class="vh-100" data-simplebar>
        <!-- Brand logo -->
        <a class="navbar-brand" href="../index.html">
            <img src="../assets/images/brand/logo/logo-inverse.svg" alt="Geeks" />
        </a>
        <!-- Navbar nav -->
        <ul class="navbar-nav flex-column" id="sideNavbar">

            <li *ngFor="let menu of menus; let i = index" class="nav-item">
                <ng-container *ngIf="menu.submenu; else hasNotSubmenu">
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#navMenu' + i" aria-expanded="false"
                        [attr.aria-controls]="'navMenu' + i">
                        <i [ngClass]="'fa '+menu.icone" aria-hidden="true" [style.padding-right.rem]=".5"></i>
                        {{capitalizeFirstLetter(menu.titulo ?? "")}}
                    </a>
                    <div [id]="'navMenu' + i" class="collapse" data-bs-parent="#sideNavbar">
                        <ul class="nav flex-column">
                            <li *ngFor="let submenu of menu.submenu; let j = index" class="nav-item">
                                
                                <ng-container *ngIf="submenu.subMenus; else hasNotSubmenu">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                        [attr.data-bs-target]="'#navSubMenu' + i + j" aria-expanded="false"
                                        [attr.aria-controls]="'navSubMenu' + i + j">
                                        {{capitalizeFirstLetter(submenu.titulo ?? "")}}
                                    </a>
                                    <div [id]="'navSubMenu' + i + j" class="collapse" data-bs-parent="#sideNavbar">
                                        <ul class="nav flex-column">
                                            <li *ngFor="let subsubmenu of submenu.subMenus" class="nav-item">
                                                <a class="nav-link" [routerLink]="[subsubmenu.url]">
                                                    {{capitalizeFirstLetter(subsubmenu.titulo ?? "")}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </ng-container>
                                <ng-template #hasNotSubmenu>
                                    <a class="nav-link" [routerLink]="[submenu.url]">
                                        {{capitalizeFirstLetter(submenu.titulo ?? "")}}
                                    </a>
                                </ng-template>
                            </li>
                        </ul>
                    </div>
                </ng-container>
                <ng-template #hasNotSubmenu>
                    <a class="nav-link" [href]="menu.url">
                        <i [ngClass]="'fa '+menu.icone" aria-hidden="true" [style.padding-right.rem]=".5"></i>
                        {{capitalizeFirstLetter(menu.titulo ?? "")}}
                    </a>
                </ng-template>
            </li>
        </ul>
    </div>
</nav>
