.drop-area {
  border: 2px dashed #68ABE9;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.drop-area:hover {
  background-color: #f8f9fa;
}

.card-inner {
  border-left: 2px solid #68ABE9;
}

label {
  font-size: 14px;
}


table{
  thead{
    background-color: #68ABE9 !important;
    tr{
      th{
        color: #FFF;
        font-size: 12px;
      }
    }
  }

  tbody{
    tr{
      font-size: 12px;
    }
  }
}
