table{
    width: 100%;
}

::ng-deep div.dt-container div.dt-paging ul.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    flex-wrap: wrap;
    padding-right: 1.5rem;
}

::ng-deep .length-section {
    margin-top: 2rem;
    position: absolute;
    padding-left: 1.5rem;
}

::ng-deep .dataTable thead th {
    background-color: #F1F5F9 !important;
    color: #000
}

.title-header {
    font-weight: 700;
}

.table-card {
    padding: 1.5rem 0;
}

.forms-search {
    padding-left: 1.5rem;
}